/* ######################## SETTING UP THE STAGE ###################### */
/* 
    Imported Fonts 
    font-family: 'Montserrat', sans-serif; (weights: 300, 400, 600, 800)
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');


*{
    margin: 0;
    padding: 0;

    /* box-sizing makes it so that if I add padding to a box, the size remains same
        and the padding doesn't affect the size of the box */
    box-sizing: border-box;
}

html{
    /* This helps in creating responsive pages as the font-size willl vary according
    to the device's original font-size  */
    font-size: 50%;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* ######################### HEADER SECTION ############################### */

.header{
    height: 97.5vh;
    background: linear-gradient(rgba(0,0,0,.5), 
                                rgba(0,0,0,.5)) ,  
             url('../img/city.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* ------------------------- Navigation Bar ------------------------------- */

.header .navbar{
    padding: 2rem;
}

.header .navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* LOGO */

.header .navbar .logo{
    font-size: 3rem;
    float: left;
    width: 25%;
}

/* NAVIGATION BAR LIST */

.header .navbar .nav-list{
    float: right;
    width: auto;
    list-style-type: none;
}

.header .navbar .nav-list .nav-item{
    float: left;
    width: auto;
}

.header .navbar .nav-list .nav-item a{
    font-size: 2rem;
    display: block;
    margin: 0 1rem;
    text-decoration: none;
    padding-bottom: .3rem;
}

.header .navbar .nav-list .nav-item a:hover{
    border-bottom: 2px solid #f4f4f4;
}

/* -------------------------- Hedader Content -------------------------------- */
.header-content{
    position: absolute;
    padding: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
}

.header-content .main-heading{
    font-size: 5rem;
}
.header-content .content-para{
    font-size: 1.6rem;
}

.header-content a{
    margin-top: 2rem;
    transition: all .2s linear 0s;
}




/* ####################### SHOWCASE SECTION ############################## */

.showcase{
    background-color: #ddd;
    padding: 10rem 0;
}

.row{
    height: 35rem;
    box-shadow: 0 .5rem 1rem rgb(110, 108, 108);
}

/* Clear Floats on div */
.row::after{
    content: '';
    display: block;
    clear: both;
}

.row1, .row2{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .img-box img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.row .text-box{
    height: 100%;
    padding: 5rem;
    background-color: white;
}

.row .text-box h1{
    font-size: 3rem;
    margin-bottom: .5em;
}

.row .text-box p{
    font-size: 1.8rem;
    margin-bottom: .5em;
}

.row1 .img-box{
    position: relative;
}

.row1 .img-box h1,
.row2 .img-box h1{
    color: #ddd;
    position: absolute;
    bottom: 2rem;
    text-shadow: .5rem .5rem .5rem black;
}

.row2 .img-box{
    position: relative;
}

.row1 .img-box h1{
    text-align: right;
    right: 2rem;
}
.row2 .img-box h1{
    text-align: left;
    left: 2rem;
}


/* ####################### FEATURES SECTION ######################### */
.features{
    background-color: #fff;
    padding: 10rem 0;
}
.box-wrapper{
    box-shadow: 0 .5rem 1.5rem rgb(103, 94, 94);
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.box{
    width: 33.333333333333333%;
    float: left;
    padding: 3rem 5rem;
    text-align: center;
}

.box .fas{
    margin-bottom: 1rem;
}
.box h2, .box p{
    margin-bottom: .5em;
}
.box p{
    font-size: 1.5rem;
}

.box1{
    background: linear-gradient(to top, #0f0c29, #302b63); 
}
.box2{
    background: linear-gradient(to bottom, #cb356b, #bd3f32);
}


/* ##################### FOOTER ############################### */
.footer{
    background-color: #333;
    padding: 5rem 0;
    text-align: center;
}

.footer .social-links{
    margin-bottom: 2rem;
}

.footer .social-links .fab{
    margin: 0 1rem;
}
.footer .social-links .fab:hover{
    color: #888;
}


/* ###################### UTILITY CLASSES ######################### */

/* Font-Color classes */
.white{
    color: #f4f4f4;
}
.red{
    color: #e63946;
}
.black{
    color: #333;
}
.gray{
    color: #555;
}
.red-dark{
    color: #b81623;
}


/* container class : specifies the width of the contents */
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}


/* Font-weight and size classes */
.font-Thin{
    font-weight: 300;
}
.font-Normal{
    font-weight: 400;
}
.font-Bold{
    font-weight: 600;
}
.font-ExtraBold{
    font-weight: 800;
}

.med-heading{
    font-size: 2rem;
}
.lg-heading{
    font-size: 3rem;
}
/* Casing classes */
.upperCase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

/* This button will be used in all other places as well. 
other utility classes will define the design properties */
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 600;
    margin: 0.5em;
    text-decoration: none;
}

.unselectable{
    /* disable selection of text */
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.btn-primary{
    background-color: #f4f4f4;
    font-size: 1.7rem;
    border-radius: 30rem;
    border: 2px solid #e63946;
}
.btn-primary:hover{
    background-color: #e63946;
    color: #f4f4f4;
}

.btn-secondary{
    background-color: #ffffff;
    font-size: 1.25rem;
    border-radius: 20rem;
    border: 2px solid #b81623;
}
.btn-secondary:hover{
    background-color: #b81623;
    color: #f4f4f4;
}