/* ######################## SETTING UP THE STAGE ###################### */
/* 
    Imported Fonts 
    font-family: 'Montserrat', sans-serif; (weights: 300, 400, 600, 800)
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');


*{
    margin: 0;
    padding: 0;

    /* box-sizing makes it so that if I add padding to a box, the size remains same
        and the padding doesn't affect the size of the box */
    box-sizing: border-box;
}

html{
    /* This helps in creating responsive pages as the font-size willl vary according
    to the device's original font-size  */
    font-size: 50%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ====================================================================== */
/* ====================== HOMEPAGE STYLING ============================== */
/* ====================================================================== */

/* ######################### HEADER SECTION ############################### */

.header{
    height: 97.5vh;
    background: linear-gradient(rgba(0,0,0,.5), 
                                rgba(0,0,0,.5)) ,  
             url('../img/city.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* ------------------------- Navigation Bar ------------------------------- */

 .navbar{
    padding: 2rem;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* LOGO */

 .navbar .logo{
    font-size: 3rem;
    float: left;
    width: 25%;
}

/* NAVIGATION BAR LIST */

.nav-list{
    float: right;
    width: auto;
}

.nav-list .nav-item{
    float: left;
    width: auto;
}

.nav-list .nav-item a{
    font-size: 2rem;
    display: block;
    margin: 0 1rem;
    text-decoration: none;
    padding-bottom: .3rem;
}

.nav-list .nav-item a:hover{
    border-bottom: 2px solid #f4f4f4;
}

/* -------------------------- Hedader Content -------------------------------- */
.header-content{
    position: absolute;
    padding: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
    width: 70%;
}

.main-heading{
    font-size: 5rem;
}
.header-content .content-para{
    font-size: 1.6rem;
}

.header-content a{
    margin-top: 2rem;
    transition: all .2s linear 0s;
}




/* ####################### SHOWCASE SECTION ############################## */

.showcase{
    padding: 10rem 0;
}

.row{
    height: 35rem;
    box-shadow: 0 .5rem 1rem rgb(110, 108, 108);
}

/* Clear Floats on div */
.row::after{
    content: '';
    display: block;
    clear: both;
}

.row1, .row2{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .img-box img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.row .text-box{
    height: 100%;
    padding: 5rem;
}

.row .text-box h1{
    margin-bottom: .5em;
}

.row .text-box p{
    margin-bottom: .5em;
}

.row1 .img-box{
    position: relative;
}

.row1 .img-box h1,
.row2 .img-box h1{
    color: #ddd;
    position: absolute;
    bottom: 2rem;
    text-shadow: .5rem .5rem .5rem black;
}

.row2 .img-box{
    position: relative;
}

.row1 .img-box h1{
    text-align: right;
    right: 2rem;
}
.row2 .img-box h1{
    text-align: left;
    left: 2rem;
}


/* ####################### FEATURES SECTION ######################### */
.features{
    padding: 10rem 0;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.box{
    width: 33.333333333333333%;
    float: left;
    padding: 3rem 5rem;
    text-align: center;
    box-shadow: .5rem .5rem 1.5rem rgb(118, 113, 113);
}

.box .fas{
    margin-bottom: 1rem;
}
.box h2, .box p{
    margin-bottom: .5em;
}

.box1{
    background: linear-gradient(to top, #0f0c29, #302b63); 
}
.box2{
    background: linear-gradient(to bottom, #cb356b, #bd3f32);
}


/* ##################### FOOTER ############################### */
.footer{
    padding: 5rem 0;
    text-align: center;
}

.footer .social-links{
    margin-bottom: 2rem;
}

.footer .social-links .fab{
    margin: 0 1rem;
}
.footer .social-links .fab:hover{
    color: #888;
}

/* ====================================================================== */
/* ======================== ABOUT STYLING =============================== */
/* ====================================================================== */

/* ------------------------ ABOUT Heading ----------------------- */
.about{
    padding: 5rem 0;
    height: 90vh;
}
.about-heading{
    display: block;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 6px solid #e63946;
    width: 100%;
}

/* --------------------- ABOUT LIST-------------------------- */
.about-list{
    text-align: center;
    margin: 2rem 0;
}
.about-list::after{
    content: '';
    display: block;
    clear: both;
}
.about-list .list-left{
    float: left;
    width: 50%;
}
.about-list .list-right{
    float: right;
    width: 50%;
}

/* Add tick-mark to list items */
.about-list li::before{
    content: '\2713';       /* \2713 is the code for tick-mark */
    color: #e63946;
    font-weight: bolder;
    margin-right: 1rem;
}

/* -------------------- ABOUT: CARDS -------------------------- */
.cards{
    text-align: center;
    margin: 3rem 0;
    padding: 1rem 0;
}
.cards::after{
    content: '';
    display: block;
    clear: both;
}

.cards .card{
    float: left;
    width: 25%;
}

/* ------------------- ABOUT: Banner ----------------------- */
.banner{
    background: linear-gradient(to bottom, #cb356b, #bd3f32);
    text-align: center;
    padding: .5rem;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.285);
}
.banner::after{
    content: '';
    display: block;
    clear: both;
}
.banner-ad{
    float: left;
    width: 60%;
    padding: 2rem 3rem;
}
.banner-btn{
    float: right;
    width: 40%;
}
.banner-btn a{
    display: inline-block;
    text-decoration: none;
    border: 4px solid #fff;
    border-radius: .5em;
    padding: 2rem 3rem;
    transition: all .2s ease-in-out;
    margin: .5em 0;
    width: 100%;
}
.banner-btn a:hover{
    color: #e63946;
    background-color: #fff;
}



/* ====================================================================== */
/* ======================== CONTACT STYLING ============================= */
/* ====================================================================== */
.contact-form{
    margin: 2.5rem 0;
}

.contact-wrap::after{
    content: '';
    display: block;
    clear: both;
}

/* ----------------- LOCATION Box ---------------------- */
.location{
    float: left;
    padding: 1rem;
    height: 60rem;
    width: 49%;
}
.location img{
    width: 90%;
    max-height: 40rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;
}
.location span{
    margin-left: .5em;
}
.location p{
    margin: .5em 0;
}

/* --------------------- FORM Box ----------------------- */
.form{
    float: right;
    padding: 2rem;
    height: 60rem;
    width: 49%;
}
.form h1{
    border-bottom: 6px solid #e63946;
}
.form p{
    margin-top: 1rem;
}
.form-content{
    margin: 1rem 0;
}
.form-content label{
    display: block;
    margin-bottom: .5em;
}
.form-content label::after{
    content: '*';
    color: #e63946;
}
.form-content input, .form-content textarea{
    width: 100%;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: .5em;
}
.form-content textarea{
    height: 15rem;
}
.form-btn{
    padding: 1rem;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    font-size: medium;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .15s ease-in-out;
}
.form-btn:hover{
    color: #e63946;
    background-color: #fff;
    border: 2px solid #e63946;
}



/* ###################### UTILITY CLASSES ######################### */

/* Font-Color classes */
.white{
    color: #f4f4f4;
}
.red{
    color: #e63946;
}
.black{
    color: #333;
}
.gray{
    color: #555;
}
.red-dark{
    color: #b81623;
}

/* Background-color classes */
.bg-plain-white{
    background-color: #fff;
}
.bg-light-gray{
    background-color: #ddd;
}
.bg-footer{
    background-color: #263238;
}
.bg-red{
    background-color: #e63946;
}


/* container class : specifies the width of the contents */
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}


/* Font-weight and size classes */
.font-Thin{
    font-weight: 300;
}
.font-Normal{
    font-weight: 400;
}
.font-Bold{
    font-weight: 600;
}
.font-ExtraBold{
    font-weight: 800;
}

.small-size{
    font-size: 1.7rem;
}
.med-size{
    font-size: 3rem;
}
.lg-size{
    font-size: 5rem;
}
/* Casing classes */
.upperCase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

/* This button will be used in all other places as well. 
other utility classes will define the design properties */
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 600;
    margin: 0.5em;
    text-decoration: none;
}

.unselectable{
    /* disable selection of text */
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.no-style-list{
    list-style-type: none;
}

.btn-primary{
    background-color: #f4f4f4;
    font-size: 1.7rem;
    border-radius: 30rem;
    border: 2px solid #e63946;
}
.btn-primary:hover{
    background-color: #e63946;
    color: #f4f4f4;
}

.btn-secondary{
    background-color: #ffffff;
    font-size: 1.25rem;
    border-radius: 20rem;
    border: 2px solid #b81623;
}
.btn-secondary:hover{
    background-color: #b81623;
    color: #f4f4f4;
}